@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkbox">
    <label>
        <input type="checkbox" data-toggle="toggle">
        Enable Register
    </label>
</div>

